html {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

h1 {
  color: Black;
  text-align: center;
}
body {
	color; black;
	text-align: center;

p {
  font-family: georgia;
  font-size: 15px;
}
p {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 700px;
  margin-left: 700px;
}
body {
	font-family: georgia;
	font-size: 15px;
}